In [ ]:
username = "admin"
password = "1234"

u = input("Enter username: ")
p = input("Enter password: ")

if u == username and p == password:
    print("Login Successful")
else:
    print("Invalid Credentials")

Enter username: admin
Enter password: 1234
Login Successful

In [ ]:
marks = [45, 78, 90, 33, 60]

pass_count = 0
fail_count = 0

for m in marks:
    if m >= 50:
        pass_count += 1
    else:
        fail_count += 1

print("Total Students:", len(marks))
print("Passed Students:", pass_count)
print("Failed Students:", fail_count)

Total Students: 5
Passed Students: 3
Failed Students: 2

In [ ]:
names = [" Alice ", "bob", " CHARLIE "]

cleaned_names = []

for name in names:
    cleaned_names.append(name.strip().lower())

print(cleaned_names)

['alice', 'bob', 'charlie']

In [ ]:
messages = ["Hi", "Welcome to the platform", "OK"]

for msg in messages:
    length = len(msg)
    print("Message:", msg)
    print("Length:", length)

    if length > 10:
        print("Flag: Message longer than 10 characters")

    print()

Message: Hi
Length: 2

Message: Welcome to the platform
Length: 23
Flag: Message longer than 10 characters

Message: OK
Length: 2

In [ ]:
logs = ["INFO", "ERROR", "WARNING", "ERROR"]

error_count = logs.count("ERROR")

print("Total ERROR entries:", error_count)

Total ERROR entries: 2